.scrollToTop{background-color:#155fcc; color:#fff}
.scrollToTop:hover, .scrollToTop:focus{background-color:#fff; color:#155fcc; border-color:1px solid #155fcc}
.logo > span{color:#155fcc}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{background-color:#155fcc}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{background-color:#155fcc}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#155fcc}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{background-color:#155fcc}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#155fcc}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{background-color:#155fcc}
.latest_newsarea span{}
.latest_post > h2 span{background:none repeat scroll 0 0 #155fcc}
#prev-button{color:#155fcc}
#next-button{color:#155fcc}
.single_post_content > h2 span{background:none repeat scroll 0 0 #155fcc}
.single_sidebar > h2 span{ background:none repeat scroll 0 0 #155fcc}
.bsbig_fig figcaption a:hover{color:#155fcc}
.spost_nav .media-body > a:hover{color:#155fcc}
.cat-item a:hover{background-color:#155fcc}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{background-color:#155fcc}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background-color:#155fcc}
.single_sidebar > ul > li a:hover{color:#155fcc}
.footer_widget > h2:hover{color:#155fcc}
.tag_nav li a:hover{color:#155fcc; border-color:#155fcc}
.copyright a:hover{color:#155fcc}
.post_commentbox a:hover, .post_commentbox span:hover{color:#155fcc}
.breadcrumb{border-left:5px solid #FDC13D}
.single_page_content ul li:before{background-color:#155fcc}
.single_page_content h2, .single_page_content h3, .single_page_content h4, .single_page_content h5, .single_page_content h6{color:#1b2833}
.nav-slit .icon-wrap{background-color:#155fcc}
.nav-slit h3{background:#155fcc}
.catgArchive{background-color:#155fcc}
.error_page > h3{color:#155fcc}
.error_page > span{background:none repeat scroll 0 0 #155fcc}
.error_page > a{background-color:#155fcc}
.contact_area > h2{background-color:#155fcc}
.contact_form input[type="submit"]{background-color:#155fcc}
.contact_form input[type="submit"]:hover{background-color:#fff; color:#155fcc}
.related_post > h2 i{color:#155fcc}
.form-control:focus{border-color:#155fcc;  box-shadow:0 0px 1px #155fcc inset,0 0 5px #155fcc}